XWIKI_VERSION=stable
MARIADB_VERSION=lts
TRAEFIK_VERSION=3

COMPOSE_PROJECT_NAME=xwiki

FQDN_TRAEFIK=traefik.xwiki.test
FQDN_XWIKI=xwiki.test

MYSQL_ROOT_PASSWORD=12345Abcde
MYSQL_DATABASE=xwiki
MYSQL_USER=xwiki
MYSQL_PASSWORD=12345Abcde
